{% extends 'base.html.twig' %}


{% block body %}
    <h1>Register</h1>
    {{ form_start(form) }}
        {{ form_row(form.username, {'attr':{'placeholder': 'Username'}}) }}
        {{ form_row(form.email, {'attr':{'placeholder': 'Email'}}) }}
        {{ form_row(form.password, {'attr':{'placeholder': 'Password'}}) }}
        {{ form_row(form.confirm_password, {'attr':{'placeholder': 'Confirm Password'}}) }}
        <button class="btn btn-success" type="submit">Register</button>
    {{ form_end(form) }}

{% endblock %}
